
*{
			  	  margin: 0;
			  	  padding: 0;	 
			  	  border: none; 
			  }
			  ul li{
			  	list-style: none;
			  }
			  body,html{
			  	  font: 12px "微软雅黑";
			  }
			  a{
			  	text-decoration: none;
			  	color: #666;
			  }

/*-----------------------------------------头部公共样式----------------------------------------------------*/
  /*-------1-------------nav------------------*/
			  .nav{
			  	 width: 1308px;
			  	 height: 32px;
			  	 background: #f2f2f2;
			  }
			 .nav_left{
			 	  float: left;
			 	  height: 32px;
			 	  line-height: 32px;
			 	  padding-left: 110px;
			 }
			 .nav_right{
			 	float: right;
			 }
			  .nav_right li{
			  	float: left;
			  	position: relative;
			  	height: 32px;
			  	line-height: 32px;
			  	padding:0 15px;
			  	/*border: 1px solid #CCCCCC;*/
			  }		  
			  .nav_left a{
			       color: #ec3e7d;
			  }
			  .nav_right{
			   	    padding-right: 125px;
			   }
			   /*********************插入小背景图标**********************/		
			  .nav_right .li1 #BG1{
			  	  background: url(../img/enroll_1/2.jpg) no-repeat left center;
			  	   padding-left: 20px;
			  }
			  .nav_right .li1 #BG2{
			  	  background: url(../img/enroll_1/12.jpg) no-repeat right center;
			  	  padding-left: 10px;			  	  
			  } 
			  .nav_right .li2 #BG3{
			  	  background: url(../img/enroll_1/3.jpg)no-repeat left center;
			  	  padding-left: 20px;
			  }
			  .nav_right .li3 #BG4{
			  	  background: url(../img/enroll_1/4.jpg) no-repeat left center;
			  	  padding-left: 20px;
			  }
			   
			  /***********下拉菜单列表***************/
			   .nav_right .li1 .cont{
			  	     display: none;
			  }
			   .nav_right .cont{
			   	    width: 108px;
			   	    height: 130px;
			   	    position: absolute;
			   	    top: 32px;
			   	    right: 0;
			   	    background:#fff;		   	    
			   }
			   .nav_right .cont li{
			   	      width: 90px;
			   	      height: 26px;
			   	      line-height: 26px;			   	      
			   	      border: none;
			   	      text-align: center;
			   }
			   
			    /***********shop_car下拉菜单列表***************/
			  /*-------------------------------------nav_shop_box------------------------*/
			#shop_box{
				 display: none;
					position: absolute;
					top: 32px;
					right: 0;
				  width: 250px;
				  /*height: 600px;*/
				  /*border: 1px solid red;*/
				  z-index: 10000;
				  background: white;
			}


 /*--------2-------banner-----------------*/
			  .banner{
			  	width: 1199px;
			  	height:92px;			   
			  	padding-left: 109px;
			  	padding-top: 22px;	
			  	background: white;	  
			  }
			  .banner_left{
			  	float: left;
			  	width:400px ;
			  	height:92px;		  	
			  }
			   .banner_right{
			   	float: left;
			  	width:799px ;
			  	height:92px;	 
			  }
			  .banner_right .top{
			  	width:435px;
			  	height: 36px;
			  	background: #EC3E7D;
			  }
			  .banner_right .text{
			  	 width: 340px;
			  	 height: 30px;
			  	 border: 3px solid #EC3E7D;
			  	 font: 14px "微软雅黑";
			  }
			  .banner_right .btn{
			  	 width: 80px;
			  	 height: 30px;
			  	 border: none;
			  	 color: white;
			  	 background: #EC3E7D;
			  }
			  .banner_right .bottom{
			  	padding-top: 6px;
			  }
			  
			    
			  /*-----3----------nav_list-----------------*/
			 .nav_list{
			 	  width: 1308px;
			 	  height: 42px;
			 	  background: white;
			 }
			 /********全部商品**********/
			 .nav_list_left{
			 	float: left;
			 	  width: 170px;			 			  	   			  	 
			 	  height: 42px;
			 	  margin-left: 109px;
			 	  line-height:42px ;
			 	  background: black;
			 	  font-size: 18px;
			 	  text-align: center;			 	 
			 }
			 
			  .nav_list_right{
			 	 float: left;
			 	  width: 1029px;
			 	  height: 42px;		 	 
			 }
			 .nav_list_right li{
			 	  float: left;
			 	  line-height: 42px;
			 	  padding: 0 25px;
			 	  border:  1px solid #fff;
			 	  
			 }
			 .nav_list_right li a{
			 	   color: black;
			 	   font-size: 16px;
			 } 
			.nav_list_right li a:hover{
				 
				 color: #ec3e7d;
			}



/*--------------------------------------右侧悬浮条样式-----------------------------------------*/

 /*----------------------------------右侧悬浮条_样式-------------------------------------*/
		     #float_right .list li{
		     	  float: left;
                  width: 20px;
                
                  margin-top:10px ;
                  padding: 10px;
                  margin-right: 30px;
                  /*border:1px solid white ;*/	
                  text-align: center;	
                  color: white;
                   	  
		     }
		     #float_right .list li a{
		     	  font-size: 12px;
		     	  color: white;
		     }
		     #float_right .list li:hover{
		     	   background: red;
		     	   
		     }
		      #float_right .list #hf:hover{
		     	   background: black;
		     	   
		     }
		     #float_left ul li{
		     	  display: block;
		     	  width: 50px;
		     	  height: 50px;
		     	  line-height: 50px;
		     	  text-align: center;
		     	  border: 1px solid #ccc;
		     	  
		     }
		    








/*-----------------------------------------footer--公共样式-----------------------------------------*/
  /*--------------------------ad--------------------------------------*/
			   .ad{
			   	   width: 1308px;
			   	   height: 120px;
			   	   
			   }
			
			    .ad .ad_left1,.ad_left2,.ad_left3,.ad_left4,.ad_left5{
			    	float: left;
			    	 width: 260px;
			    	 height: 120px;
			    }
			     .ad .ad_left1{
			     	background: url(../img/index/in_11.jpg) no-repeat 64px center;
			     }  
			       .ad .ad_left2{
			     	background: url(../img/index/in_12.jpg) no-repeat 64px center;
			     }    
			       .ad .ad_left3{
			     	background: url(../img/index/in_13.jpg) no-repeat 64px center;			     	
			     }  
			       .ad .ad_left4{
			     	background: url(../img/index/in_14.jpg) no-repeat 64px center;
			     }
			       .ad .ad_left5{
			     	background: url(../img/index/in_15.jpg) no-repeat 64px center;
			     }    
			     
			  
 /*----------------------------。foot_list-------------------------------------*/
			 .foot_list{
   			 	clear: both;    /*---------------清楚以上所有浮动-------------*/
			 	  width: 1308px;
			 	  height: 272px;
			 	 
			 }
			.foot_list_left{
				float: left;
				   width: 932px;
			 	  height: 272px;
			 	
			}
			
			.foot_list_left .top{
				 width: 786px;
				  height: 130px;
				 
				  padding: 24px 88px 24px 58px;
			}
			.foot_list_left .bottom{
				width: 870px;
				height: 94px;
				padding-left: 62px;
				
			}
			.foot_list_left .top .top_list li{
				 height: 24px;
				 line-height: 24px;
			}
			
			.foot_list_left .top .top_list li a{
				  font: 12px "微软雅黑" #333;
			}			
			.foot_list_right{
				float: left;
				   width: 332px;
			 	  height: 240px;
			 	  padding-left: 44px;
			 	  padding-top: 32px;		 	 
			}

/*---------------------------------------------------footer------------------------------------------------*/

		 .footer_last{
						width: 1248px;
						height: 74px;
						background: black;
						padding-left: 60px;
						padding-top: 30px;
					}






















