 				/**************banner_LB*****************/
 				
 				.banner_LB {
 					width: 1308px;
 					height: 420px;
 					background: #ccc;
 					position: relative;
 				}
 				/*---------------------------------------左侧样式-------------------------------*/
 				
 				.banner_LB_left {
 					/*------------------------ul-------------------------*/
 					width: 170px;
 					height: 400px;
 					position: absolute;
 					top: 0px;
 					left: 108px;
 					z-index: 4;
 				}
 				
 				.banner_LB_left li {
 					display: block;
 					width: 170px;
 					height: 40px;
 					line-height: 40px;
 					background: #ec3e7d;
 					border-bottom: 1px dotted white;
 					text-align: center;
 				}
 				
 				.banner_LB_left li a {
 					font-size: 16px;
 					color: yellow;
 				}
 				
 				.banner_LB_left li:hover {
 					/*------------------------伪类选择器，只能改变，同级属性的样式，无法改变子集的样式------------------------*/
 					background: white;
 					/*-------------------由于字体，小图标，背景色的改变，都是li的子集，无法用伪类全部实现，则用jQ---------*/
 				}
 				
 				.banner_LB_left li a:hover {
 					/*--------------------一个空格都不能多--------------------*/
 					color: black;
 				}
 				/*--------------------------------------------*/
 				
 				.all_list li {
 					position: relative;
 				}
 				
 				.all_list li .a1,
 				.a2,
 				.a3,
 				.a4,
 				.a5,
 				.a6,
 				.a7,
 				.a8 {
 					position: absolute;
 					width: 300px;
 					height: 300px;
 					top: 0px;
 					left: 170px;
 					display: none;
 					border: 1px solid #ec3e7d;
 				}
 				/*------------------插入小图标-------------------*/
 				
 				.all_list #Li1 {
 					width: 18px;
 					height: 18px;
 					background: url(../img/index/in_1.jpg) no-repeat left center;
 					padding-left: 30px;
 				}
 				
 				.all_list #Ri1 {
 					width: 18px;
 					height: 18px;
 					background: url(../img/index/in_0.jpg) no-repeat left center;
 					padding-right: 40px;
 				}
 				/**************banner_LB_Right*****************/
 				
 				.banner_LB_right {
 					width: 1308px;
 					height: 420px;
 					background: #ccc;
 					position: relative;
 					overflow: hidden;
 				}
 				
 				.banner_LB_right .img_list li {
 					position: absolute;
 					width: 1308px;
 					height: 420px;
 					background: red;
 				}
 				
 				.banner_LB_right .btn {
 					position: absolute;
 					left: 50%;
 					bottom: 20px;
 					z-index: 2;
 				}
 				
 				.banner_LB_right .btn li {
 					width: 50px height: 50px;
 					float: left;
 					margin: 10px;
 					border: 1px solid red;
 					border-radius: 100%;
 				}
 				
 				.banner_LB_right .img_list img {
 					position: absolute;
 					width: 1308px;
 					height: 420px;
 					z-index: 1;
 				}
 				/*-----------------------------jq_ajax加载MC--------------------------------*/
 				
 				.ul_MC {
 					overflow: hidden;
 					/*------------由于li,float会出现高度塌陷-----------*/
 				}
 				
 				.goodlist_MC {
 					width: 1308px;
 					/*border: 1px solid red;*/
 					margin: 0px 50px;
 				}
 				
 				.goodlist_MC ul li {
 					float: left;
 				}
 				
 				.pic_MC {
 					float: left;
 					width: 354px;
 					height: 260px;
 					/*background: red;*/
 					/*border: 1px solid green;*/
 				}
 				
 				.float {
 					float: left;
 					padding: 10px;
 				}
 				
 				.cont_MC {
 					float: left;
 					width: 230px;
 					height: 260px;
 					/*background: yellow;*/
 					/*border: 1px solid black;*/
 				}
 				
 				.title_MC {
 					height: 90px;
 					line-height: 140px;
 					text-align: center;
 					color: #f34381;
 					font-size: 24px;
 				}
 				
 				.introduce {
 					height: 28px;
 					line-height: 28px;
 					text-align: center;
 					color: #49432d;
 					font-size: 20px;
 				}
 				
 				.content {
 					height: 22px;
 					line-height: 28px;
 					text-align: center;
 					color: #49432d;
 					font-size: 16px;
 				}
 				
 				.div {
 					height: 40px;
 					margin-top: 30px;
 					text-align: center;
 				}
 				
 				.button {
 					width: 110px;
 					height: 32px;
 					color: white;
 					background: red;
 					font-size: 20px;
 				}
 				/*-----------------------goodlist_LO-----------------------*/
 				
 				.goodlist_LO {
 					width: 1306px;
 					/*border: 1px solid red;*/
 				}
 				
 				.pic_LO {
 					float: left;
 					width: 635px;
 					height: 360px;
 					/*background: red;*/
 				}
 				
 				.ul_lo {
 					margin: 10px 50px;
 					overflow: hidden;
 				}
 				
 				.li_lo {
 					float: left;
 					padding-bottom: 20px;
 				}
 				
 				.cont_LO {
 					float: left;
 					width: 481px;
 					height: 320px;
 					padding-left: 40px;
 					padding-top: 40px;
 					padding-right: 42px;
 					/*background: yellow;*/
 				}
 				
 				.cont_LO .timer {
 					width: 100px;
 					height: 32px;
 					line-height: 32px;
 					/*background: black;*/
 					text-align: center;
 					color: white;
 					font-size: 18px;
 				}
 				
 				.ad_lo {
 					padding-top: 16px;
 					padding-bottom: 78px;
 					line-height: 30px;
 					font-size: 16px;
 					color: black;
 				}
 				
 				.box {}
 				
 				.box_left {
 					float: left;
 					width: 390px;
 					height: 132px;
 					/*background: yellowgreen;*/
 					/*border: 1px solid black;*/
 				}
 				
 				.p_LO {
 					font-size: 12px;
 					color: #686968;
 					padding-bottom: 24px;
 				}
 				
 				.h4_LO {
 					font-size: 20px;
 					color: #ea3a78;
 				}
 				
 				.box_left h4 span {
 					font-size: 14px;
 				}
 				
 				.div_LO {
 					padding-top: 26px;
 					color: #9a9a99;
 					font-size: 12px;
 				}
 				
 				.box_right {
 					float: left;
 					width: 84px;
 					height: 132px;
 					/*background: cadetblue;*/
 					/*border: 1px solid red;*/
 				}
 				/*------------button的类名----------------*/
 				
 				.div_right {
 					height: 40px;
 					margin-top: 70px;
 					text-align: center;
 				}
 				
 				.button_LO {
 					width: 84px;
 					height: 32px;
 					color: white;
 					background: #ea3a78;
 					font-size: 20px;
 				}
 				/*----------------------------------goodlist_NA-----------------------------------*/
 				/*----------------------------------goodlist_NA-----------------------------------*/
 				
 				.goodlist_NA {
 					width: 1308px;
 					/*border: 1px solid red;*/
 				}
 				
 				.goodlist_NA ul {
 					overflow: hidden;
 					margin-left: 30px;
 				}
 				
 				.goodlist_NA ul li {
 					float: left;
 					width: 315px;
 					/*border: 1px dotted #666;*/
 				}
 				
 				.goodlist_NA .pic_NA {}
 				
 				.goodlist_NA .cont_NA {
 					padding-left: 20px;
 					padding-top: 20px;
 					padding-right: 20px;
 				}
 				
 				.goodlist_NA .cont_NA div {
 					font-size: 14px;
 					color: black;
 					padding-bottom: 15px;
 				}
 				
 				.goodlist_NA .cont_NA h4 {
 					font-size: 20px;
 					color: #ea3a78;
 				}
 				
 				.goodlist_NA .cont_NA h4 span {
 					font-size: 14px;
 				}
 				
 				.goodlist_sell_L {
 					width: 1308px;
 					overflow: hidden;
 					/*-----------------给浮动父素添加溢出隐藏，解决高度塌陷问题-----------------*/
 				}
 				
 				.goodlist_sell_L ul {
 					float: left;
 					margin-left: 30px;
 					/*border: 1px solid green;*/
 				}
 				
 				.goodlist_sell_L p {
 					width: 384px;
 					height: 64px;
 					/*border-top: 2px solid red;*/
 					line-height: 64px;
 					text-align: center;
 					font-size: 22px;
 				}
 				
 				.goodlist_sell_L li {
 					/*border-top: 1px solid #ededed;*/
 					overflow: hidden;
 					height: auto;
 				}
 				
 				.pic_sell_L {
 					float: left;
 					width: 98px;
 				}
 				
 				.cont_sell_L {
 					float: left;
 					width: 278px;
 					height: 102px;
 					position: relative;
 					/*border: 1px solid red;*/
 				}
 				
 				.cont_sell_L h3 {
 					padding-top: 24px;
 					line-height: 16px;
 					font-size: 12px;
 					color: black;
 				}
 				
 				.cont_sell_L h4 {
 					position: absolute;
 					left: 10px;
 					bottom: 10px;
 					color: #fd3183;
 					font-size: 12px;
 				}
 				
 				.cont_sell_L div {
 					position: absolute;
 					right: 10px;
 					bottom: 10px;
 					color: #999;
 					font-size: 10px;
 				}
 				/*----*/
 				
 				.goodlist_sell_M {
 					float: left;
 				}
 				
 				.goodlist_sell_M p {
 					width: 384px;
 					height: 64px;
 					/*border-top: 2px solid red;*/
 					line-height: 64px;
 					text-align: center;
 					font-size: 22px;
 				}
 				
 				.goodlist_sell_M li {
 					border-top: 1px solid #ededed;
 				}
 				
 				.pic_sell_M {
 					float: left;
 					width: 98px;
 				}
 				
 				.cont_sell_M {
 					float: left;
 					width: 284px;
 					height: 102px;
 					position: relative;
 					/*border: 1px solid red;*/
 				}
 				
 				.title {
 					padding-top: 24px;
 					line-height: 16px;
 					font-size: 12px;
 					color: black;
 				}
 				
 				.cont_sell_M h4 {
 					position: absolute;
 					left: 10px;
 					bottom: 10px;
 					color: #fd3183;
 					font-size: 12px;
 				}
 				
 				.cont_sell_M div {
 					position: absolute;
 					right: 10px;
 					bottom: 10px;
 					color: #999;
 					font-size: 10px;
 				}
 				/*-----*/
 				
 				.goodlist_sell_R {
 					float: left;
 				}
 				
 				.goodlist_sell_R p {
 					width: 384px;
 					height: 64px;
 					border-top: 2px solid red;
 					line-height: 64px;
 					text-align: center;
 					font-size: 22px;
 				}
 				
 				.goodlist_sell_R li {
 					border-top: 1px solid #ededed;
 				}
 				
 				.pic_sell_R {
 					float: left;
 					width: 98px;
 				}
 				
 				.cont_sell_R {
 					float: left;
 					width: 284px;
 					height: 102px;
 					position: relative;
 					border: 1px solid red;
 				}
 				
 				.cont_sell_R h3 {
 					padding-top: 24px;
 					line-height: 16px;
 					font-size: 12px;
 					color: black;
 				}
 				
 				.cont_sell_R h4 {
 					position: absolute;
 					left: 10px;
 					bottom: 10px;
 					color: #fd3183;
 					font-size: 12px;
 				}
 				
 				.cont_sell_R div {
 					position: absolute;
 					right: 10px;
 					bottom: 10px;
 					color: #999;
 					font-size: 10px;
 				}